<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grievancesystem.speakout">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_megaphone_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_megaphone_icon_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppItUp">
        <activity
            android:name="com.grievancesystem.speakout.activities.ComplaintActivity"
            android:theme="@style/Theme.AppItUp.NoActionBar" />
        <!-- FCM Service to Collect Notification Messages -->
        <service android:name="com.grievancesystem.speakout.utility.NotificationMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.grievancesystem.speakout.activities.SplashActivity"
            android:theme="@style/Theme.AppItUp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.grievancesystem.speakout.activities.ConversationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppItUp.NoActionBar" />
        <activity
            android:name="com.grievancesystem.speakout.activities.Register_Complaint"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.grievancesystem.speakout.activities.NotificationsActivity"
            android:theme="@style/NotificationTheme" />
        <activity
            android:name="com.grievancesystem.speakout.activities.SignIn"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppItUp.NoActionBar" />
        <activity
            android:name="com.grievancesystem.speakout.activities.ResetPassword"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppItUp.NoActionBar" />
        <activity
            android:name="com.grievancesystem.speakout.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppItUp.NoActionBar" />
        <activity
            android:name="com.grievancesystem.speakout.activities.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppItUp.NoActionBar" />
    </application>

</manifest>